body {
    font-family: Arial, sans-serif;
    text-align: center;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

img {
    width: 100%;
    height: auto;
}

@media (min-width: 780px) {
    img {
        width: 50%;
    }
}